.short-service__meta {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    transition: opacity 0.25s ease,
                transform 0.15s ease;
    transform: translate(0, -3px);
    letter-spacing: 0.12em;
    font-size: 0.6em;
    opacity: 0;

    a {
        opacity: 0.75;
    }
}
