/*
 * Posts
 */

.b-short-posts {
}


.b-short-post {
    margin-bottom: 0.5em;

    &__title {
        position: relative;
        margin: 0;
        font-weight: 300;
        font-size: 1.25em;
        color #333;
    }

    &__meta {
        line-height: 1.2;
        color: rgba(0, 0, 0, 0);
        transition: color ease 0.25s;

        .b-short-post:hover & {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &__date {
        letter-spacing: 0.12em;
        font-size: 0.6em;
    }
}
