/* Pre Code */

code {
    color: #007000;
}

pre code {
    white-space: pre-wrap;
}

code .highlight {
    background-color: #EEE8D5;
}


samp {
    color: #AA0033;
}


kbd {
    padding: 1px 5px;
    border-top: 1px solid #F8E8BB;
    border-right: 2px solid #C9AF6F;
    border-bottom: 2px solid #D5BB7E;
    border-left: 1px solid #EDE2C9;
    background-color: #FDF6E3;
    color: #007000;
    text-shadow: -1px -1px 0px #fff;
}



/* Bookmarklet */

.bookmarklet {
    position: relative;
    display: inline-block;
    padding: 2px 15px 2px 7px;
    border-radius: 5px;
    background: #E6F1F9;
    cursor: move;
}

.bookmarklet:hover {
    text-decoration: none;
}

.bookmarklet:before {
    display: inline-block;
    padding: 0 5px 0 0;
    content: '::';
    text-shadow: 0 1px 0 #fff;
}

.bookmarklet:after {
    position: absolute;
    top: 50%;
    left: 110%;
    display: block;
    margin-top: -7px;
    width: 410px;
    height: 14px;
    color: #CCCCCC;
    content: "установка: перетащите эту ссылку на панель закладок";
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    cursor: default;
}

.bookmarklet:hover:after {
    color: #657B83;
}



/* Note */
/* from developers.google.com */

.note,
.caution,
.warning,
.special {
    padding: 5px 5px 5px 10px;
    border-left: 6px solid #999999;
    background-color: #EFEFEF;
}

.warning {
    border-left-color: #AA0033;
    background-color: #FFCCCC;
}

.caution {
    border-left-color: #FFEF70;
    background-color: #FFFBD9;
}

.special {
    border-left-color: #3366CC;
    background-color: #E5ECF9;
}





.header {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1.5em 2em;
    max-width: 800px;
}



.logo {
    margin: 0;
    font-weight: 300;
    font-size: 3em;

    &__text {
        color: #333;
        text-decoration: none;
    }
}



.footer {
    margin: 0 auto;
    padding: 1.5em 2em;
    max-width: 800px;
    border-top: 1px solid #eee;
    font-size: 87.5%;
}



.legal {
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.legal-copyright {
    text-align: left;
}

.legal-license {
    text-align: right;
}



.post {
    &__title {
        position: relative;
        margin: 2em 0 1em;
        color: #888;
        font-weight: 300;

        a {
            text-decoration: none;
        }
    }

    &__text {
    }

    &__meta {
    }
}
