/*
 * Page footer
 */

.b-footer {
    margin: 0 auto;
    padding: 1.5em 2em;
    max-width: 800px;
    border-top: 1px solid #eee;
    font-size: 87.5%;
}


.b-legal {
    text-align: center;
    line-height: 1.6;

    &-copyright {
        text-align: left;
    }

    &-license {
        text-align: right;
    }
}
