.logo__image_size_42 {
    width: 42px;
    height: 42px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wsHECA4ZBsyvgAAAWFJREFUWMPtly9LQ1Echh91xfrCYGA1CYLJYNEiKFgUwSAGEQyiH8Ay2T6DSbAOVv0AwyaKYcm0alF4wTRYmeUsuc05z+68eN504Z5zz3N//w8kJSUl/Vq2y3kB7eYCNoBGhZ2ZFGjvWVKUM2bzEvcJNIH+IFEObC9GTr5925vD1hTG+O4d8Gi7CVxLehoDbA5YBbaAE+BW0lX08mR7CXgG5iMYtPod5NgxKukFOMsKMovO1O03B4R3lVE814vdQsY/UAYqwyxpuwSsAKdAW9JhtBYarBN7CGkA25I6UXt9ZNgmsCHpYyJDie1zYDm4raebEbfvAkWgBaxJeu93wJHt9SySaVDshvVvg5pJL5nqwL3tIlAD6qEEZZlgbWBHUmtowbe9EIp4aQoVrRMSp/FtwZf0CuyFTVnreBjkl84k6QG4yBjyUlItXUXS4Dwl0Goe7vWVP++mXEAmJSUl/TN9AmwwuQTBIN0kAAAAAElFTkSuQmCC");
}
