.short-post_popular {
    .short-post__title {
        a:before {
            display: inline-block;
            content: "\2605"
            position: absolute;
            right: 100%;
            margin-right: 0.45em;
        }
    }
}
