.footer__social-list {
    text-align: right;
    float: right;
    margin-bottom: 5px;

    a + a {
        margin-left: 10px;
    }
}

@media (max-width: 375px) {
    .footer__social-list {
        text-align: center;
        float: none;
    }
}
