/*
 * Post
 */

.b-post {
    &__title {
        position: relative;
        margin: 2em 0 1em;
        font-weight: 300;

        a {
        }
    }

    &__text {
    }

    &__meta {
    }

    &__date {
        font-size: 0.75em;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
}
