/*
 * Post
 */

.b-post {
    margin-bottom: 5em;

    &__title {
        position: relative;
        margin: 0 0 0.67em;
        font-weight: 300;
        font-size: 2em;
        color #333;
    }

    &__text {
        img {
            max-width: 100%
            height: auto;
            box-shadow: 0 0 0 2px #fff,
                        0 0 0 3px #eee;
        }
    }

    &__meta {
        margin-top: 35px;
    }

    &__date {
        text-transform: uppercase;
        letter-spacing: 0.12em;
        font-size: 0.75em;
    }

    &__share {
    }
}
