.b-super-table {
    width: 100%;

    th,
    td {
        padding: 5px 10px;
    }

    &__type {
        div {
            width: 30px;
            height: 20px;
            text-align: left;
            white-space: nowrap;
            font-weight: normal;
            transform: rotate(-45deg);
        }
    }

    &__problem {
        padding-right: 20px;
    }

    &__true {
        color: green;
    }

    &__false {
        color: red;
    }
}
