/*
 * Page header
 */

.b-header {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1.5em 2em;
    max-width: 800px;
    border-bottom: 1px solid #eee;
    color: #333;
}


.b-logo {
    margin: 0;
    font-weight: 300;
    font-size: 1em;

    &__text {
        display: inline-block;
        border: none;
        color: #333;
        text-decoration: none;
        font-size: 1.5em;
    }

    &__description {
        display: block;
        color: #333;
        text-decoration: none;
        font-size: 1em;
    }
}
