/*
 * Page header
 */

.b-header {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1.5em 2em;
    max-width: 800px;
    border-bottom: 1px solid #eee;
    color: #333;
    text-align: center;
}


.b-logo {
    margin: 0;
    font-weight: 300;
    font-size: 3em;

    &__text {
        color: #333;
        text-decoration: none;
    }
}
