.header__nav {
    --gapX: 16px;
    --linkPaddingX: calc(var(--gapX) / 2);
    --linkPaddingCompensationX: calc(-1 * var(--linkPaddingX));

    display: flex;
    flex-grow: 1;
    flex-shrink 0;
    justify-content: flex-end;

    .nav {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        margin-right: var(--linkPaddingCompensationX);
    }

    .nav__item {
    }

    .nav__link {
        padding-right: var(--linkPaddingX);
        padding-left: var(--linkPaddingX);
    }
}

@media (max-width: 640px) {
    .header__nav {
        .nav {
            flex-direction: column;
        }
    }
}

@media (max-width: 490px) {
    .header__nav {
        width: 100%;
        margin-top: 10px;

        .nav {
            flex-direction: row;
            margin-right: auto
            margin-left: var(--linkPaddingCompensationX);
        }
    }
}
