.footer__build-info {
    text-align: right;
    opacity: 0.75;
    font-size: 0.75em;
    margin-top: 5px;
    float: right;
    clear: left;
}

@media (max-width: 375px) {
    .footer__build-info {
        text-align: center;
        float: none;
    }
}
