.logo__image_size_64 {
    width: 64px;
    height: 64px;
    margin: -11px auto;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wsHEB8O83+NGwAAAkBJREFUeNrtmjFrU2EUhp/U4iQU3h8gCAV/gIJUKh1cBAehUNpFsTgUpIKLTqWSLApO4j9QEAWh0EkcxC4KgjgEOhU7FYTAC4IQyKLLJ4RQJInJ/e7tPc8YCLnve893zns+AkEQBEEQBJmwvV13A37X2oRkQDYTZkrkRTOHCTMlK4jCTWiU4QgMfiapUdcKoO5HIAwIA8KAMOB/Jspp2xeyGGB71fZ8RvFngcdAe5TvzU7wGd4Bn2zvAE8l/SxI+ClgE7gDXJXUyxaEbC8CH4FfwDPgpaSDaQQh2wKuAw+AeeCSpPaoz9yYwhtpAkVn+hVJb8vSBFvA5wLFt8YVP7VdwPY54BswN2XxO5KWSzcGJR0C96Ysvg3cGvMFnbG9VLltMK3KTaCTmt7hGL+3BNwGNiT1ZqkIfeJ7wNqo4tOxbAKLybzepHNAEeIB7kv6MGypAwvAKnAzmXdZUqfwC5FM43GQG5J2s+wCkh6lEZmLrUHxWZpgpkp4I2mtFNtghkr4CqwXGoSmNQbHaJg/gIuSjv4ZhGxfSx2z6vcB/eJ7qekdDZME94DXthdOiHiAdUlfhorCkrrAQ+C97ee25you/omkVyPtApL2U37fBL7b3rZ9voLid4GtsbdB2y9SaqoibeDKKLdRx43BDWC/guI7wPKoV3Ezx4ygLrACdCsk/u+CdDCR+4DUD+5WyIChF6QTH4QmUgF1IgwIA8KA0tGqswGtdF9QH/r+J9is5RmstfhkQH3FB0EQBEEQBEE+/gAmQ/5UAJV84QAAAABJRU5ErkJggg==");
}
