/*
 * Note
 *
 * from developers.google.com
 */

.note,
.caution,
.warning,
.special {
    padding: 5px 5px 5px 10px;
    border-left: 6px solid #999;
    background-color: #efefef;
}

.warning {
    border-left-color: #aa0033;
    background-color: #ffcccc;
}

.caution {
    border-left-color: #ffef70;
    background-color: #fffbd9;
}

.special {
    border-left-color: #3366cc;
    background-color: #e5ecf9;
}
