/*
 * Note
 */

.note,
.caution,
.warning,
.special {
    margin: 0 0 15px;
    padding: 5px 5px 5px 10px;
    border-left: 3px solid #999;
    background-color: #efefef;

    * + & {
        margin-top: 15px;
    }
}

.warning {
    border-left-color: #d32c46;
    background-color: #ffdde3;
}

.caution {
    border-left-color: #f9a124;
    background-color: #fff2e0;
}

.special {
    border-left-color: #2ba3d4;
    background-color: #dcf5ff;
}
