.post.post_status_draft {
    .post__title::after {
        display: inline-block;
        content: 'Черновик';
        font-size: 0.5em;
        vertical-align: super;
        margin-left: 1em;
        color: #607D8B;
    }
}
