/*
 * Link
 */

a,
.link {
    color: #0433ff;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.15s;

    &:visited,
    &._state_visited {
        color: #3304ff;
    }

    &:hover,
    &._state_hover {
        color: #ff3304;
        text-decoration: none;
    }

    &:active,
    &._state_active {
    }

    &:focus,
    &._state_focus {
    }
}
