/*
 * Link
 */

a,
.link {
    border-bottom: 1px solid rgba(4, 51, 255, 0.15);
    color: #0433ff;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.15s,
                border ease 0.15s;

    &:visited,
    &._state_visited {
        border-color: rgba(49, 4, 255, 0.15);
        color: #3304ff;
    }

    &:hover,
    &._state_hover {
        border-color: rgba(255, 54, 4, 0.15);
        color: #ff3304;
        text-decoration: none;
    }

    &:active,
    &._state_active {
    }

    &:focus,
    &._state_focus {
    }
}
