/*
 * Code
 */

code {
    color: #007000;

    .highlight {
        background-color: #eee8d5;
    }
}

pre {
    font-size: 12px;
    line-height: 1.4;

    code {
        white-space: pre-wrap;
    }
}


/*
 * Code output
 */

samp {
    color: #aa0033;
}


/*
 * Keyboard
 */

kbd {
    padding: 1px 5px;
    border-top: 1px solid #f8e8bb;
    border-right: 2px solid #c9af6f;
    border-bottom: 2px solid #d5bb7e;
    border-left: 1px solid #ede2c9;
    background-color: #fdf6e3;
    color: #007000;
    text-shadow: -1px -1px 0px #fff;
}
