---
layout: "default"
isPage: true
sitemap: false
---

section.b-short-posts
    each post in getCollection('posts').toJSON()
        article.b-short-post
            h2.b-short-post__title
                a(href= post.url)
                    != post.title

            .b-short-post__meta
                span.b-short-post__date
                    != pubDate(post.date)
