doctype html
html(lang='ru')
    head
        title= pageTitle()
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='viewport', content='width=device-width, initial-scale=1')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content= site.twitter)
        meta(name='twitter:creator', content= site.twitter)

        if document.url === '/'
            meta(name='description', content= site.description)

        //- https://realfavicongenerator.net/
        link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png?v=rMMKb0vWEj")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png?v=rMMKb0vWEj")
        link(rel="icon", type="image/png", href="/favicon-32x32.png?v=rMMKb0vWEj", sizes="32x32")
        link(rel="icon", type="image/png", href="/favicon-194x194.png?v=rMMKb0vWEj", sizes="194x194")
        link(rel="icon", type="image/png", href="/favicon-96x96.png?v=rMMKb0vWEj", sizes="96x96")
        link(rel="icon", type="image/png", href="/android-chrome-192x192.png?v=rMMKb0vWEj", sizes="192x192")
        link(rel="icon", type="image/png", href="/favicon-16x16.png?v=rMMKb0vWEj", sizes="16x16")
        link(rel="manifest", href="/manifest.json?v=rMMKb0vWEj")
        link(rel="mask-icon", href="/safari-pinned-tab.svg?v=rMMKb0vWEj", color="#5bbad5")
        link(rel="shortcut icon", href="/favicon.ico?v=rMMKb0vWEj")
        meta(name="msapplication-TileColor", content="#154489")
        meta(name="msapplication-TileImage", content="/mstile-144x144.png?v=rMMKb0vWEj")
        meta(name="theme-color", content="#154489")

        != getBlock('styles').add(site.styles).toHTML()

    body
        header.header
            .header__name
                if document.url === '/'
                    h1.logo
                        span.logo__text
                            != site.author
                        span.logo__description
                            != site.description
                else
                    .logo
                        a.logo__text(href='/')
                            != site.author
                        span.logo__description
                            != site.description

            .header__logo
                span.logo__image.logo__image_size_64

            .header__nav
                nav.nav
                    .nav__item
                        if document.url !== '/services'
                            a.nav__link(href='/services/')
                                | Сервисы
                        else
                            | Сервисы
                    .nav__item
                        a.nav__link(href='https://blog.vovanr.com/')
                            | Блог
                    .nav__item
                        a.nav__link(href='https://vovanr.github.io/notes/')
                            | Заметки

        .content
            != content

        footer.footer
            .footer__social-list
                each item in site.socialLinks
                    a(href= item.url)
                        != item.name

            .footer__copyright
                a(href="https://github.com/vovanr/vovanr.github.io")
                    | ©&nbsp;#{site.author}, #{(new Date).getFullYear()}

            .footer__build-info
                | Блог&nbsp;работает&nbsp;на&nbsp;<a href='https://docpad.org'>DocPad</a>, хостится&nbsp;на&nbsp;<a href='https://pages.github.com/'>GitHub&nbsp;Pages</a>

        script
            | (function(){document.querySelector('html').classList.add('js')})()
