---
layout: default
---

article.post
    h1.post__title
        != document.title

    .post__text
        != content

    .post__meta
        a.post__source(href=postSourceURL() target='_blank' rel='noopener')
            | Исходный код статьи

        .tags.post__tags
            each tag in document.tags
                span(class='tags__tag')= site.tagNames[tag] || tag

        time.post__date(datetime= pubDateForDatetimeAttribute(document.date))
            != pubDate(document.date)

        .post__share
            <script src="//yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
