---
layout: default
---

article.post
    h1.post__title
        != document.title

    .post__text
        != content

    .post__meta
        .tags.post__tags
            each tag in document.tags
                span(class='tags__tag')= site.tagNames[tag] || tag

        .post__date
            != pubDate(document.date)

        .post__share
            <script src="//yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
