html
    font-size: 100%

body
    line-height: 1.5
    color: #777


h1
h2
h3
h4
h5
h6
    line-height: 1.1

h1
    font-size: 2em
    font-weight: 300
    margin: 0 0 0.67em

h2
    font-size: 1.5em
    font-weight: 300
    margin: 0 0 0.83em

h3
    font-size: 1.17em
    font-weight: 400
    margin: 0 0 1em

h4
    font-size: 1.125em
    font-weight: 400
    margin: 0 0 1.33em

h5
    font-size: 0.83em
    font-weight: 600
    margin: 0 0 1.67em

h6
    font-size: 0.67em
    font-weight: 600
    margin: 0 0 2.33em
